.hero__content {

    display: grid;
    
    .heroTitle{
        display: grid;
        grid-template-columns: 1fr;
    }

.hero__image_tools {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border-radius: 40px;
    margin-top: 02%;
    margin-bottom: 02%;
}

.hero__text {
    display: grid;
    align-content: center;
    padding-right: 5%;
    padding-left: 5%;

}
}