@media screen and (min-width: 768px) {


    .blog-index-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        justify-content: center;
    }

    /*** EVENTOS HOME***/

    .eventos__home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        columns-gap: 20px;
        justify-items: center;
    }

 
}

/*** HERO CONTENT ***/

@media screen and (min-width: 1110px) {

    .hero__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        margin-left: 20%;
        margin-right: 20%;

        .hero_text{
            justify-content: center;
            margin-bottom: 1%;
            padding-right: 20%;
            padding-left: 15%;
        }

    }
}


@media screen and (max-width: 768px) {

    .container-fluid {
        flex-direction: row-reverse;
    }

    .hero__content{
        display: grid;
        grid-template-rows: 1fr;
        row-gap: 10px;
    

    .hero_text {
        margin-left: 10%;
        margin-right: 10%;
      
      
    }
    }
}