.navbar {
    background-color: $purple;

    .container-fluid {

        .navbar-brand {
            color: $pinkCake;
            &:hover {
                color: $dark;
            }

            &.active {
                color: $pink;
                font-weight: 600;
                text-decoration: underline;
            }


     


        }
    }

    .collapse {
        .navbar-nav {
            margin-left: auto;


            .nav-item {

                .nav-link {
                    color: $pinkCake;

                    &:hover {
                        color: $dark;
                    }

                    &.active {
                        color: $pink;
                        font-weight: 600;
                        text-decoration: underline;
                    }

                }

            }

        }



        .dropdown-menu {
            background-color: $pink;

        }
    }



    .dropdown-item {
        color: $pinkCake;

        &:hover {
            color: rgb(15, 35, 55);
            background-color: $pinkCake;
        }
    }
}