/*** BLOG HOME***/

article {

    .blog-index-grid {
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
        justify-content: center;


        .blog__index__card {
            background-color: $pinkCake;
            border-radius: 8px;
            padding: 16px;
            padding-bottom: 24px;
            margin: 8px 8px;
            width: 300px;
            height: fit-content;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            align-items: center;
            justify-content: center;


        }
    }
}