/*** COLORES ***/


$purple: rgb(153, 17, 142);
$violet: rgba(102, 2, 252, 0.2);
$dark: rgb(80 2 73);
$magent: rgb(151 6 147);
$pinkCake: rgb(255, 237, 237);
$purpleGradient: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
$transparent:  rgb(255, 237, 237, 0.2);
$pink: rgb(245, 113, 234);
$fuchsia: rgb(255, 0, 128);
$wine: rgb(160, 12, 86);
$grey: rgb(118, 114, 114);


/*** TIPOGRAFÍA ***/

$parrafos: 'Roboto', sans-serif;
$titulos: 'Roboto Serif', serif;
$titulosSecundarios: 'Roboto Mono', monospace;